# OS
.DS_Store

# Ecosystem
__pycache__/
*.pyc
node_modules/
.pytest_cache/
venv/
.env

# Contracts (Foundry & Fuzzers)
contracts/out/
contracts/cache/
contracts/zkout/
contracts/broadcast/
contracts/corpus/
contracts/corpus_echidna/
contracts/medusa-corpus/
contracts/medusa-logs/
contracts/crytic-export/
contracts/pytypes/
contracts/.wake/
contracts/slither_results.json
contracts/*.txt
anvil-zksync.log

# Circuits (Noir)
circuits/target/
circuits/out/

# ZK Scripts
zk-scripts/node_modules/
zk-scripts/dist/
zk-scripts/build/

# Economic Modelling
economic-modelling/notes.md
