# Tell GitHub Linguist to ignore vendored dependencies
contracts/lib/** linguist-vendored=true
node_modules/** linguist-vendored=true
zk-scripts/node_modules/** linguist-vendored=true

# Ignore generated outputs
contracts/out/** linguist-generated=true
contracts/zkout/** linguist-generated=true
circuits/target/** linguist-generated=true
